<!DOCTYPE html>
<html dir="ltr" lang="ru">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <title>Fakimaku | Присоедениться</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <link rel="stylesheet" href="css/join.css">
      <link rel="icon" href="https://m4r5ha11.com/assets/icon.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
      
   </head>
   <body>
     
      <div class="form_container">
         <form action="/chat">
            <div class="form_field">
               <h3>Присоедениться к комнате</h3>
               <p class="warn">⚠ длина никнейма от 5 символов</p>
               <p class="warn">⚠ комнатa от 5 символов, только латиница</p>
            </div>
            <div class="form_field">
               <label for="">Никнейм</label>
               <input 
               type="text" 
               name="name" 
               id="nnBox" 
               spellcheck="false" 
               autocomplete="off" 
               placeholder="cool-guy" 
               maxlength="10" 
               minlength="5" 
               required>
            </div>
            <div class="form_field">
               <label for="">Название комнаты</label>
               <input 
               type="text" 
               name="room" 
               spellcheck="false" 
               autocomplete="off"
               placeholder="finalfantasy" 
               maxlength="10" 
               minlength="5" 
               pattern="[^'\x22]+[A-Za-z]{3}"
               required="">
            </div>
            <div class="form_field">
               <button type="submit" id="joinbtn">Присоедениться</button>
            </div>
         </form>
      </div>
   </body>
</html>

