@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  scrollbar-color: #616161 #e0e0e0;
  scrollbar-width: thin;
  overflow-x: hidden;
  box-sizing: border-box;
}

.chat {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.chat_sidebar {
  width: 20%;
  background: floralwhite;
  box-sizing: border-box;
}

.chat_sidebar h3 {
  padding: 0 20px;
}

#users {
  width: 150px;
  text-align: center;
}

#users ol {
  padding: 0px;
}

#users li {
  border-radius: 10px;
  background: gainsboro;
  list-style-type: none;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.char_main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#messages {
  flex-grow: 1;
  overflow-y: scroll;
}

.message {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 600px;
  word-wrap: break-word;
}

.message+.message {
  margin-top: 15px;
  margin-bottom: 15px;
}

.message .from {
  margin: 0 10px 0 0;
}

.message .time {
  font-size: 14px;
  padding-top: 5px;
  opacity: 0.7;
}

.message .title {
  display: flex;
}

.chat_footer {
  display: flex;
  padding: 10px;
  background: #efefef;
  min-height: 40px;
  box-sizing: content-box;
  font-family: 'Open Sans', sans-serif;
}

.chat_footer input {
  margin: 0 5px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 5px;
  border: 1px solid #3498db;
}

.chat_footer button {
  background: #efefef;
  border-radius: 100%;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: 0;
  margin: 0 5px;
}

#message-form {
  flex-grow: 1;
  display: flex;
}

#message-form input {
  flex-grow: 1;
  padding-left: 5px;
  outline: none;
  overflow: hidden;
}

#offline {
  background-color: #757575;
  color: #fff;
  height: 5em;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-left: 1em;
}

#sendMessage {
  min-height: 50px;
}

.chat_footer * {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .chat_sidebar {
    display: none;
  }

  .message {
    width: auto;
  }
}

.link {
  color: #0c6dce;
  text-decoration: none;
}