* {
  text-rendering: optimizeLegibility;
}

body {
  background: #fffde7;
  height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.form_container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  line-height: 32px;
}

.form_container form {
  max-width: 380px;
  width: 100%;
  padding: 20px 30px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #e0e0e0;
  outline: none;
}

.form_container label {
  display: block;
}

.form_container input {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  border: 1px solid #3498db;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 15px #bbdefb;

}

.rooms {
  background-color: #eee;
}

.form_field+.form_field {
  margin-top: 20px;
}

.form_container button {
  width: 100%;
  height: 40px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 10px #42a5f5;
}

.warn {
  background: #fff176;
  color: #333;
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
  font-size: 13.5px;
  box-shadow: 0 0 10px #ffff72;
}


input:invalid {
  border: red solid 3px;
  box-shadow: none;
}
