html { 
  overflow: hidden;
}

body {
  background-color: #23272A;
}

footer {
  background-color: #424242;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 99.5%;
  padding: 5px;
}

.footer-h1 {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 1em;
}

.solid {
  border-top: 1px solid #7289da;
}

p {
  color: #fff;
  margin: 0;
  font-size: 14px;
  margin-left: 5px;
}

.p-big {
  color: #fff;
  margin: 0;
  font-size: 16px;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #9e9e9e;
}

.slogan {
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 140px;
}

.open {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  border: 0;
  font-size: 13px;
  box-shadow: 0 0 5px #000;
  border-radius: 500px;
  color: #fff;
  will-change: transform;
  white-space: nowrap;
  padding: 8px;
  display: block;
  margin: auto;
  cursor: pointer;
  text-align: center;
  background-color: #000;
  width: 210px;
  transition: all 600ms;
}

.open:hover {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff;
  box-shadow: 0 0 15px #000;
}

#loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2em;
}

#loader::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ce4233;
  position: absolute;
  animation: load .7s infinite alternate ease-in-out;
  border-radius: 16px;
}

#loader::before {
  top: 0;
}

#loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
    transform: rotate(360deg);
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .slogan {
    font-size: 25px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 100px;
  }
  footer {
    background-color: #424242;
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27%;
  }
}

